<div class="d-flex border rounded-lg pl-2 pr-2 shadow-sm mb-2" style="max-width: 400px; min-width: 400px;">
    <div class="" style="">
        <div class="">
            <small class="badge badge-pill badge-danger" style="font-size:xx-small;">{{item.state}}</small> 
        </div>
        <div class="" style="max-width: 300px; min-width: 300px;">
            <b class="card-text d-inline-block text-truncate" style="max-width: 300px; min-width: 300px;">{{item.title}}</b>
        </div>
        <div class="">
            <small class="text-time" style="font-size:x-small;"><em>Oluşturulma tarihi : {{item.createdate}}</em></small>
        </div>
    </div>
    <div class="text-center" style="margin-top: auto; margin-bottom: auto; max-width: 100px; min-width: 100px;">
        <button class="btn btn-warning fa fa-wrench btn-sm mr-1" routerLink="/update" (click)="settingItem(item.id)"></button>
        <button class="btn btn-danger fa fa-trash btn-sm" (click)="deleteItem(item.id)"></button>
    </div>
</div>