<div class="input-group mb-3" style="max-width: 350px; min-width: 350px;">
  
   <!-- <input type="text" class="form-control" [(ngModel)]="todoitem" (ngModelChange)="changes($event)" placeholder="Todo Item">
    <div class="input-group-append">
      <button class="btn btn-outline-primary" (click)="addItem()" [disabled]="disableButton" type="button">Button</button>
    </div>-->

    <form  [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="inputEmail4">Title</label>
        <input type="text" value class="form-control" formControlName="title"  id="inputEmail4"/>
      </div>
      <div class="form-group">
        <label for="inputPassword4">Detail</label>
        <textarea class="form-control"  formControlName="detail"  id="inputPassword4"></textarea>
      </div>
      <div class="form-group">
        <label for="inputAddress">End Date</label>
        <input type="text" class="form-control" formControlName="enddate" id="inputAddress"/>
      </div>
      <div class="form-group">
        <label for="inputAddress">State</label>
        <input type="text" class="form-control" formControlName="state" id="inputAddress"/>
      </div>
      <div class="form-group">
        <label for="inputAddress2">Alterations</label>
        <input type="text" class="form-control" formControlName="alterations" id="inputAddress2"/>
      </div>
      <div class="form-group">
        <label for="inputCategory">Category</label>
        <select id="inputState" class="form-control"  formControlName="category">
          <option selected disabled>Choose...</option>
          <option [value]="category" *ngFor="let category of categories" >{{category}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" (click)="addperson()" [disabled]="disableButton" >Sign in</button>
    </form>

</div>