<div class="container">
    <div class="d-flex justify-content-between p-3 mb-2 bg-secondary text-white shadow-sm">
        <div class="text-left">
            <img class="mr-3" src="https://image.flaticon.com/icons/svg/2666/2666505.svg" height="30px"/> <b>Redmine</b>
        </div>
        <div class="text-right">
            <button routerLink="/addtask" class="btn btn-light btn-sm mr-4">Add Tasks</button>
            <button routerLink="/tasks" class="btn btn-light btn-sm mr-2">Tasks</button>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><router-outlet></router-outlet></div>
        <div class="col-1"></div>    
    </div>
</div>